
body{
    margin: 0px;
    background-color: black;
}
.container{
    border:5px solid goldenrod;
    display: inline-flex;
    justify-content: flex-start;
    width: 62,5%;
    background: tomato;
    padding:0px;
    margin:0px;
}

.menu-item{
    color:white;
    font-size: 40px;
    border:5px solid black;
    background-color: white;
    text-align: center;
    text-emphasis-color: black;
    list-style-type: none;
    padding:10px;
}

.menu-item-selected{
    color: blue;
    font-size: 40px;
    border:5px solid white;
    background-color: blue;
    text-align: center;
    text-emphasis-color: white;
    list-style-type: none;
    padding:10px;
}

h2{
    color: goldenrod;
}

h1{
    color: goldenrod;
    font-family: consolas;
}

a{
    text-decoration: none;
    color: black;
    font-family: consolas;
    
}

